In [198]:
import pandas as pd
import matplotlib as plt
import datetime
import numpy as np
import os

pd.options.display.max_rows = 200
filename = 'KÄYTTÖTILI FI52 1011 3500 7285 21 - 2023-10-27 14.09.21.csv'
sep = ";"

In [199]:
def get_raw_data(seperator,filename):
    raw_data = pd.read_csv(filename,sep=seperator)
    raw_renamed = raw_data.rename(columns={"Kirjauspäivä": "date", "Määrä": "amount","Otsikko":"subject"})
    raw_renamed['amount'] = [np.float64(n.replace(",",".")) for n in raw_renamed['amount']]
    raw_renamed.loc[raw_renamed["date"] == "Varaus","date"] = datetime.datetime.now().date().strftime("%Y/%m/%d")
    raw_renamed.date = pd.to_datetime(raw_renamed.date)
    date_fixed = raw_renamed[["date","amount","subject"]].set_index("date").copy()
    date_fixed = date_fixed.loc[date_fixed["amount"] < 0,:]
    date_fixed['amount'] = date_fixed['amount'].abs()
    return date_fixed

In [200]:
data = get_raw_data(sep,filename)

In [201]:
def filter_values(df):
    df["category"] = None
    df.loc[(df["amount"] == 8.80 )| (df["subject"].str.contains("VAPE")),"category"]= "vape liquid"
    df.loc[df["subject"].str.contains("VR"),"category"] = "train"
    df.loc[df["subject"].str.contains("HSL|Nysse|TAMPEREEN KAUPUNK", regex=True),"category"] = "public transport" 
    df.loc[(df["subject"].str.contains("KAMMONEN"))|(df["amount"] == 631.0 ),"category"] = "rent"
    df.loc[(df["subject"].str.
      contains("Netflix.com|STEEL LS OY|a.NordVPNnl|STEELFEST|Varusteleka|AUSSIE BAR|TAMPEREEN MUSII|AWS EMEA|Spotify")),"category"] = "non-essential"
    df = df.loc[~(df["subject"].str.contains("SUNDAY"))]
    df.loc[df["category"].isnull(),"category"] = "living expense"
    return df

In [202]:
filtered = filter_values(data)

In [205]:
filtered.loc[(filtered["category"] == "living expense")]

            amount                         subject        category
date
2023-10-27    0.95                   Prisma Kerava  living expense
2023-10-27    6.95                 Marmaris Market  living expense
2023-10-27    6.60                24 Pesula Kerava  living expense
2023-10-27    2.78              K-Market Ahjontori  living expense
2023-10-27   10.34                   Prisma Kerava  living expense
2023-10-27    3.00                   MCDONALD'S 68  living expense
2023-10-27    3.74               Lidl TRE-Hervanta  living expense
2023-10-26    3.90       LIDL TAMPERE HERVANTA MN2  living expense
2023-10-26    2.78                  K-market Amuri  living expense
2023-10-26    0.99                   Afghan Market  living expense
2023-10-25    3.57       LIDL TAMPERE HERVANTA MN2  living expense
2023-10-25    7.31                   VFI*HALIME OY  living expense
2023-10-25    2.65                  K-market Amuri  living expense
2023-10-24    5.10                   SALE HERVANTA  living expense
2023-10-24    3.95                 MK-Trade Kerava  living expense
2023-10-24    6.71       LIDL TAMPERE HERVANTA MN2  living expense
2023-10-23    6.75                     LIDL KERAVA  living expense
2023-10-23    3.00                    MCD HYVINKAA  living expense
2023-10-23    9.00                    Paytrail Oyj  living expense
2023-10-23    2.10              K-Market Ahjontori  living expense
2023-10-23    5.13                      ALEPA AHJO  living expense
2023-10-23    1.39              K-Market Ahjontori  living expense
2023-10-23    4.74                   SALE HERVANTA  living expense
2023-10-23    6.65                      ALEPA AHJO  living expense
2023-10-23    6.17           K-CITYMARKET HYVINKAA  living expense
2023-10-23   11.00                        CIHAN OY  living expense
2023-10-20    5.06               S MARKET HERVANTA  living expense
2023-10-19    2.58                  K-market Amuri  living expense
2023-10-19    4.61               S MARKET HERVANTA  living expense
2023-10-18    5.40       SALE HERVANTAJARVI TAMPER  living expense
2023-10-17    4.29                   SALE HERVANTA  living expense
2023-10-17    7.62                  K-market Amuri  living expense
2023-10-17    7.50                  VFI*HALKOUT OY  living expense
2023-10-17    2.38                         BENO OY  living expense
2023-10-17    5.80           Pikajuna Tripla -1287  living expense
2023-10-16    9.90                      Vuo Pkg Oy  living expense
2023-10-16    9.00                    Paytrail Oyj  living expense
2023-10-16    5.80                 RAVINTOLA SEMAF  living expense
2023-10-16    4.50                  VFI*HALKOUT OY  living expense
2023-10-16    6.16                         BENO OY  living expense
2023-10-16    9.79              K-Market Ahjontori  living expense
2023-10-16    8.54              K-Market Ahjontori  living expense
2023-10-16    2.50                   SALE HERVANTA  living expense
2023-10-16    5.86                   SALE HERVANTA  living expense
2023-10-16    2.90          R_KERAVA_Asemanaukio 7  living expense
2023-10-13    2.99                   SALE HERVANTA  living expense
2023-10-13    2.77                  K-market Amuri  living expense
2023-10-12    3.65               S MARKET HERVANTA  living expense
2023-10-12    3.54                      SALE AMURI  living expense
2023-10-11   10.97          LIDL TRE-HALLLITUSKATU  living expense
2023-10-11   10.20                       Sodexo Oy  living expense
2023-10-10    3.38                  K-market Amuri  living expense
2023-10-10    3.19                   SALE HERVANTA  living expense
2023-10-10    1.25                   SALE HERVANTA  living expense
2023-10-10   42.17                 NORDEA BANK OYJ  living expense
2023-10-09    2.43                     LIDL KERAVA  living expense
2023-10-09    3.28              K-Market Ahjontori  living expense
2023-10-09    6.39                  K-market Amuri  living expense
2023-10-09    2.30                      ALEPA AHJO  living expense
2023-10-09    1.39                    ALEPA KERAVA  living expense
2023-10-09    3.69              K-Market Ahjontori  living expense
2023-10-09   11.50         MOB.PAY*MIKAEL SILJANEN  living expense
2023-10-09   12.16              K-Market Ahjontori  living expense
2023-10-09    3.00       R_TAMPERE_Rautatienkatu 2  living expense
2023-10-06    5.69                   SALE HERVANTA  living expense
2023-10-06    9.00                    Paytrail Oyj  living expense
2023-10-05    1.70       SALE HERVANTAJARVI TAMPER  living expense
2023-10-05    9.45            Aasia Market Tampere  living expense
2023-10-05    3.00                   MCDONALD'S 68  living expense
2023-10-05    4.65                 Nordea Bank Abp  living expense
2023-10-05   13.00                TAMPERE KESKUSTA  living expense
2023-10-05    7.25              Keravan Energia Oy  living expense
2023-10-05    6.83              Keravan Energia Oy  living expense
2023-10-04   18.07                  K-market Amuri  living expense
2023-10-04    4.48                   SALE HERVANTA  living expense
2023-10-03   10.20                       Sodexo Oy  living expense
2023-10-03    2.20                Rkioskioy 711276  living expense
2023-10-03   13.61                  K-market Amuri  living expense
2023-10-02    4.53              K-Market Ahjontori  living expense
2023-10-02   16.07       PRISMA HAMEENKATU TAMPERE  living expense
2023-10-02    1.98       K-supermarket Kuninkaanku  living expense
2023-10-02    5.00  PELASTAKAA LAPSET RY/HÄTÄAPURA  living expense
2023-10-02    5.90                  Taco Bell Dixi  living expense
2023-10-02    2.95                   PRISMA KERAVA  living expense
2023-10-02   11.00       Subway 41798 Kerava Karus  living expense
2023-10-02    3.78              K-Market Ahjontori  living expense
2023-10-02    2.39                   K-Market Dixi  living expense
2023-10-02    2.40                  LIDO MARKET OY  living expense
2023-10-02    6.87              K-Market Ahjontori  living expense

In [195]:
filtered.groupby("category").aggregate({"amount":"sum"})

                  amount
category
living expense    539.69
non-essential     489.17
public transport  210.10
rent              871.00
train             108.70
vape liquid        76.39

In [197]:
filtered.groupby(filtered.index.isocalendar().week).aggregate({"amount":"sum"})

       amount
week
40    1102.69
41     366.34
42     345.69
43     480.33