In [56]:
import pandas as pd
import numpy as np
import matplotlib
import time
from datetime import datetime
import re

In [57]:
locations = pd.read_json("./utils/locations.json").reset_index()
locations["country"] = [i["country"] for i in locations.nodes]
locations["city"] = [i["city"] for i in locations.nodes]
locations["airport"] = [i["airport"] for i in locations.nodes]
location_refined = locations.drop(columns=["self","source","nodes"]).rename(columns={"index":"IATA"})
#locations = locations.drop(columns=["source","self","nodes"])

In [58]:
iso = pd.read_csv("data_csv.csv").rename(columns={"Name":"country"})

In [59]:
location_w_iso = pd.merge(location_refined,iso,on="country",how="left")

In [60]:
location_w_iso.loc[location_w_iso["IATA"] == "HAN","Code"] = "VN"
location_w_iso.loc[location_w_iso["IATA"] == "SGN","Code"] = "VN"
location_w_iso.loc[location_w_iso["IATA"] == "ICN","Code"] = "KN"

In [61]:
location_w_iso.drop(columns=["country","city","airport"])

    IATA Code
0    AKL   NZ
1    AMS   NL
2    ARN   SE
3    ATH   GR
4    ATL   US
..   ...  ...
98   YUL   CA
99   YVR   CA
100  ZAG   HR
101  ZHY   CN
102  ZRH   CH

[103 rows x 2 columns]

In [62]:
string = location_w_iso.drop(columns=["country","city","airport"]).rename(columns={"Code":"country"}).set_index("IATA").to_json(orient="index")

In [63]:
string

'{"AKL":{"country":"NZ"},"AMS":{"country":"NL"},"ARN":{"country":"SE"},"ATH":{"country":"GR"},"ATL":{"country":"US"},"BAH":{"country":"BH"},"BCN":{"country":"ES"},"BJS":{"country":"CN"},"BKK":{"country":"TH"},"BLR":{"country":"IN"},"BNA":{"country":"US"},"BNE":{"country":"AU"},"BOG":{"country":"CO"},"BOM":{"country":"IN"},"BOS":{"country":"US"},"BRU":{"country":"BE"},"BUD":{"country":"HU"},"CCU":{"country":"IN"},"CDG":{"country":"FR"},"CGK":{"country":"ID"},"CMH":{"country":"US"},"CPH":{"country":"DK"},"CPT":{"country":"ZA"},"DEL":{"country":"IN"},"DEN":{"country":"US"},"DFW":{"country":"US"},"DUB":{"country":"IE"},"DUS":{"country":"DE"},"DXB":{"country":"AE"},"EWR":{"country":"US"},"EZE":{"country":"AR"},"FCO":{"country":"IT"},"FJR":{"country":"AE"},"FOR":{"country":"BR"},"FRA":{"country":"DE"},"GIG":{"country":"BR"},"GRU":{"country":"BR"},"HAM":{"country":"DE"},"HAN":{"country":"VN"},"HEL":{"country":"FI"},"HIO":{"country":"US"},"HKG":{"country":"CN"},"HYD":{"country":"IN"},"IAD":{"country":"US"},"IAH":{"country":"US"},"ICN":{"country":"KN"},"IND":{"country":"US"},"JAX":{"country":"US"},"JFK":{"country":"US"},"JNB":{"country":"ZA"},"KIX":{"country":"JP"},"KUL":{"country":"MY"},"LAX":{"country":"US"},"LHR":{"country":"GB"},"LIM":{"country":"PE"},"LIS":{"country":"PT"},"LOS":{"country":"NG"},"MAA":{"country":"IN"},"MAD":{"country":"ES"},"MAN":{"country":"GB"},"MCI":{"country":"US"},"MCT":{"country":"OM"},"MEL":{"country":"AU"},"MIA":{"country":"US"},"MNL":{"country":"PH"},"MRS":{"country":"FR"},"MSP":{"country":"US"},"MUC":{"country":"DE"},"MXP":{"country":"IT"},"NBO":{"country":"KE"},"NRT":{"country":"JP"},"ORD":{"country":"US"},"OSL":{"country":"NO"},"OTP":{"country":"RO"},"PER":{"country":"AU"},"PHL":{"country":"US"},"PHX":{"country":"US"},"PMO":{"country":"IT"},"PNQ":{"country":"IN"},"PRG":{"country":"CZ"},"QRO":{"country":"MX"},"SCL":{"country":"CL"},"SEA":{"country":"US"},"SFO":{"country":"US"},"SGN":{"country":"VN"},"SHA":{"country":"CN"},"SIN":{"country":"SG"},"SLC":{"country":"US"},"SOF":{"country":"BG"},"SYD":{"country":"AU"},"SZX":{"country":"CN"},"TLV":{"country":"IL"},"TPA":{"country":"US"},"TPE":{"country":"CN"},"TXL":{"country":"DE"},"VIE":{"country":"AT"},"WAW":{"country":"PL"},"YTO":{"country":"CA"},"YUL":{"country":"CA"},"YVR":{"country":"CA"},"ZAG":{"country":"HR"},"ZHY":{"country":"CN"},"ZRH":{"country":"CH"}}'

In [64]:
with open('edge_iata_iso.json', 'w') as outfile:
    outfile.write(string)