In [29]:
import pandas as pd
import psycopg2
import psycopg2.extras
import numpy as np
import re
import os 
conn=psycopg2.connect(database="blackmetal",
                        host="localhost",
                        user="bm_admin",
                        password="18cba9cd-0776-4f09-9c0e-41d2937fab2b",
                        port=5432)

In [30]:
def get_artists():
    cursor = conn.cursor(cursor_factory=psycopg2.extras.RealDictCursor)
    command = "select * from artists;"
    cursor.execute(command)
    data = cursor.fetchall()
    return data

In [31]:
data = get_artists()

In [35]:
pd.DataFrame(data).to_csv("artists.csv",index=False)

In [36]:
artists = pd.read_csv("artists.csv")

In [38]:
artists

,artist_id,name,bio
0,100,Ascension,"Black metal band from Tornau vor der Heide, Sa..."
1,101,The Black,Black metal band from Sweden.\n\nThe band was ...
2,102,Corpus Christii,Nocturnus Horrendus is the owner of Nightmare ...
3,103,Imperium Dekadenz,Imperium Dekadenz was founded during late summ...
4,104,Kataxu,"Symphonic Black Metal band from Poland, formed..."
5,105,Krohm,\t\nBlack Metal solo project formed in 1995 in...
6,106,Warmoon Lord,The band's name is taken from the song Warmoon...
7,107,Azarath,Inferno is the only remaining founding member....
8,108,Deströyer 666,Started out in May 1994 as a solo-project of K...
9,109,Mayhem,The band was billed as Wolf's Lair Abyss for a...
10,110,Deus Mortem,Deus Mortem - a Polish black metal band. It wa...
11,111,Walknut,Walknut is a Russian Atmospheric black metal b...
12,112,Sielunvihollinen,"The band's name literally translates to ""the e..."
13,113,Abigor,Abigor is an Austrian black metal band formed ...
14,114,Dissection,"The band's first song ever written was ""Inhuma..."
15,115,Nokturnal Mortum,"""Nocturnal"" was changed to ""Nokturnal"" to avoi..."
16,116,Necrophobic,Formed in 1989 by Blackmoon and Joakim Sterner...

In [94]:
def get_albums():
    cursor = conn.cursor(cursor_factory=psycopg2.extras.RealDictCursor)
    command = "select * from albums;"
    cursor.execute(command)
    data = cursor.fetchall()
    return pd.DataFrame(data)

In [204]:
albums = get_albums()

In [208]:
reindex = albums[["artist_id","album_id"]].copy()

In [209]:
reindex.loc[:,"album_id_correct"] = np.arange(0,len(reindex)-0) + 1000

In [210]:
reindex

    artist_id  album_id  album_id_correct
0         100      1022              1000
1         101      1023              1001
2         102      1024              1002
3         103      1025              1003
4         104      1026              1004
5         105      1027              1005
6         106      1028              1006
7         107      1029              1007
8         108      1030              1008
9         109      1031              1009
10        110      1032              1010
11        111      1033              1011
12        110      1034              1012
13        112      1035              1013
14        113      1036              1014
15        114      1037              1015
16        110      1038              1016
17        114      1039              1017
18        115      1040              1018
19        115      1041              1019
20        116      1042              1020
21        115      1043              1021

In [233]:
new_albums = albums.merge(reindex, left_on='album_id', right_on='album_id',how="inner").drop(columns=["album_id","artist_id_x"])

In [238]:
new_albums = new_albums.rename({"artist_id_y":"artist_id","album_id_correct":"album_id"},axis=1)

In [243]:
new_albums[['artist_id','album_id','title', 'release_year', 'stock', 'price','photo']].to_csv("albums.csv",index=False)

In [244]:
def get_songs():
    cursor = conn.cursor(cursor_factory=psycopg2.extras.RealDictCursor)
    command = "select * from songs join albums on albums.album_id = songs.album_id;"
    cursor.execute(command)
    return pd.DataFrame(cursor.fetchall())

In [245]:
songs = get_songs()

In [254]:
new_songs.head(1)

   track  album_id  artist_id  duration                 song
0      1      1022        100       NaN  The Silence of Abel

In [255]:
reindex.head(1)

   artist_id  album_id  album_id_correct
0        100      1022              1000

In [246]:
new_songs = songs[["track","album_id","artist_id","duration","song"]]

In [257]:
joined = new_songs.merge(reindex, left_on='album_id', right_on='album_id',how="inner")

In [264]:
joined = joined.drop(columns=["album_id","artist_id_x"]).rename({"artist_id_y":"artist_id","album_id_correct":"album_id"},axis=1)

In [270]:
joined[['track','album_id', 'duration', 'song']].to_csv("songs1.csv",index=False)